.container{
    margin: auto;
    color:#ff0070;
    /* box-shadow: 0 0 10px #4666ff, 0 0 10px #4666ff; */
    text-shadow: 0 0 8px #ff0080, 0 0 10px #ff0080;
    /* font-size: 80px; */
    
}
body{
    background-image: url("https://img.freepik.com/free-photo/black-texture-with-brick-wall-background_35257-311.jpg?size=626&ext=jpg") !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* .card{
    background-color: black;
    color: #ff0070
} */
main{
    flex: 1 0 auto;
}

.brand-logo{
    color: #5ff5fd !important; 
    font-size: 25px !important;
}

a{
    color: #5ff5fd !important;
    font-size: 15px !important;
    text-shadow: 0 0 8px #5ff5fd, 0 0 10px #5ff5fd;
}

h1{
    font-size: 50px !important;
    /* color: #5ff5fd !important; */
    color: #e3fbfd !important;
    text-shadow: 0 0 8px #5ff5fd, 0 0 10px #5ff5fd !important;
}

h2{
    font-size: 45px !important;
}

h3{
    font-size: 20px !important;
}

h5{
    font-size: 15px !important;
    color: #ffffff !important;
    text-shadow: 0 0 8px #6dcb22, 0 0 10px #6dcb22 !important;

}

p{
    font-size: 14px !important;
    color: #ffffff !important;
    text-shadow: 0 0 8px #6dcb22, 0 0 10px #6dcb22 !important;
}

.link{
    font-size: 14px !important;
    color: #ffffff !important;
    text-shadow: 0 0 8px #6dcb22, 0 0 10px #6dcb22 !important;
}

}

label{
    color: #6dcb22 !important;
    text-shadow: 0 0 8px #6dcb22, 0 0 10px #6dcb22 !important;
}
#enterBtn{
    background-color: #6dcb22 !important;
}
footer{
    background-color: #2962ff !important;
}
.card{
    background-color: transparent !important;
}
.text{
    color: yellow !important;
}
.gameCard{
    color: #5ff5fd!important;
    font-size: 20px !important;
    background-color: transparent !important;
}

#game-board,
.row,
.col{
    text-align: center !important;
    
}

.sdkBorder{
    color: #2962ff !important;
    text-align: center;
}

.sdkInput{
    color: #30ecfb !important;
    font-size: 20px;
    text-shadow:  0 0 8px #30ecfb , 0 0 10px #30ecfb;
}

.X{
    color:#ed57ff;
    text-shadow:  0 0 8px #ef9aff, 0 0 10px #ef9aff;
}

.O{
    color: #5edcd3;
    text-shadow:  0 0 8px #30ecfb, 0 0 10px #30ecfb;
}

#turnDisplay{
    color: #fbf9c7 !important;
    text-shadow:  0 0 8px #fee323, 0 0 10px #fee323;
}

.sdkUserInput{
    color: #30ecfb !important;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #2962ff;
}

